@charset "UTF-8";
/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2 family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
/* Body */
body {
font-family: 'Open Sans', sans-serif;
font-weight: 300;
margin: 0;
}
/* Links */
a {
  color: #1D7E96;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}
/* Container */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #F7F3E9;
}
/* Header */
header {
  width: 100%;
  height: auto;
  text-align: center;
}
/* Content */
.intro {
  padding-top: 50px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 15px;
  display: inline-block;
  background-image: url(../images/bg.jpg);
  background-repeat: repeat-x;
  background-size: 1200px 400px;
  background-position: center bottom;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
  .intro {
    background-image: url(../images/bg@3x.jpg);
  }
  .column {
    width: 50%;
    text-align: center;
    padding-top: 30px;
    float: left;
  }
  .intro .column h3 {
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    line-height: 25px;
    font-weight: 600;
    margin-left: 20px;
    margin-right: 20px;
    width: 80%;
    font-size: 24px;
  }
  .intro .column p {
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    line-height: 25px;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
    width: 80%;
    font-size: 16px;
  }
  .intro .column em {
    font-weight: 300;
  }
}
  .content {
    width: 60%;
    align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 50px;
  }
  .content h3 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 4px;
    color: #D45D35;
    top: auto;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 60px;
    padding-bottom: 20px;
    border-bottom: thin dotted #D45D35;
  }
  .content h4 {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0px;
  }
  .content p {
    margin-top: 0px;
  }
  .content em {
    font-weight: 400;
  }
  .content li {
    list-style-type: square;
    list-style-position: inside;
  }
  footer {
    background-color: #E4D9C9;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  footer p {
    margin: 0px;
    padding: 0px;
  }
  .profile {
    width: 50%;
  }
  /* Mobile */
  @media (max-width: 320px) {
    .intro {
      background-position: center top;
    }
    .content {
      width: 80%;
    }
    .intro .column h3 {
      width: 90%;
      text-align: center;
      padding-left: 0px;
    }
    .intro .column p {
      width: 80%;
      text-align: center;
      margin-left: 0px;
    }
    .column {
      width: 100%;
      margin-top: 0px;
    }
    .profile {
      width: 100%;
    }
  }
  /* Small Tablets */
  @media (min-width: 321px)and (max-width: 767px) {
        .intro {
        background-position: center top;
        }
        .content {
        width: 80%;
        }
        .column {
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        }
        .profile {
        width: 80%;
        }
        .intro .column h3 {
        width: 90%;
        text-align: center;
        padding-left: 0px;
        }
        .intro .column p {
        width: 90%;
        text-align: center;
        padding-left: 0px;
        }
  }
  /* Small Desktops */
  @media (min-width: 768px) and (max-width: 1096px) {
        .intro .column p {
        width: 80%;
        }
        .profile {
        width: 80%;
        }
  }
  /*MENUS */
  .footernav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .footernav a {
    display: inline-block;
    color: #1D7E96;
    text-align: center;
    padding: 12px 12px;
    margin-left: auto;
    margin-right: auto;
  }
  .topnav {
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0px 1px 6px 0 #000000;
    box-shadow: 0px 1px 6px 0 #000000;
    background-color: #000000;
    padding-bottom: 10px;
    color: #F7F3E9;
    overflow: hidden;
  }
  .topnav a {
    display: inline-block;
    color: #F7F3E9;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 16px;
  }
  .topnav a:hover {
    color: #83C3E1;
  }
  .topnav a.active {
    color: #83C3E1;
  }
  .topnav .icon {
    display: none;
  }
  /* When the screen is less than 900 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 900px) {
    .topnav {
      position: fixed;
      height: auto;
      padding-bottom: 0px;
    }
    .topnav a:not(:first-child) {
      display: none;
    }
    .topnav a:first-child {
      margin-left: 42px;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 900px) {
    .topnav.responsive {
      position: fixed;
    }
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
      margin: 0px;
    }
  }
  /* Back to top button */
  #myBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 40px;
    z-index: 99;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    outline: none;
    background-color: #000000;
    color: #FFFFFF;
    cursor: pointer;
    padding: 20px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 3px 0 #000000;
    box-shadow: 0px 1px 4px 0 #000000;
  }
  #myBtn:hover {
    background-color: #1D7E96;
  }
  /*Email Button */
  .button {
    width: 150px;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 4px;
  }
  .button a {
    color: #F7F3E9;
    text-decoration: none;
  }
  .button:hover {
    background-color: #1D7E96;
    color: #FFFFFF;
    cursor: pointer;
  }